*{
    /* border: 1px solid black; */
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(226, 226, 226);
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 10;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.navbar a{
    height: 60px;
    padding: 20px;
}

.navbar a:nth-child(6){
    display: none;
}

.navbar :nth-child(1){
    margin-left: 10px;
}


.logo{
    text-align: center;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
}

.logo :nth-child(1){
    font-size: 25px;
    padding-bottom: 1px;
    margin: 0;
}

.logo :nth-child(2){
    font-size: 10px;
    padding-top: 0;
    margin: 0;
}

.banner{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.banner:after{
    content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
}

.gambar{
    height: 100%;
    width: 100%;
}

.gambar img{
    width: 100%;
    height: 100%;
}

.judul{
    position: absolute;
    text-align: center;
    margin: 0;
    margin-bottom: 10em;
    z-index: 3;
}

.judul :nth-child(1){
    margin-bottom: 0;
}

.judul :nth-child(2){
    margin-top: 0;
}

.place{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 185vh;
}

.place h1{
    text-align: center;
}

.places{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 50vh;
    border: 2px solid black;
    background-color: white;
    margin-top: 50px;
}

.place :nth-child(2){
    margin-top: 10px;
}


.place-img{
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
}

.place-img img{
    width: 100%;
    height: 100%;
}

.place-desc{
    display: flex;
    flex-direction: column;
}

.place-desc h3{
    margin: 0;
    max-width: 30vw;
}

.place-desc p{
    margin: 0;
    margin-top: 5px;
    max-width: 60vw;
}

.about{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.about-us{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 75vw;
    height: 60vh;
    background-color: white;
    border-radius: 0px 100px 0px 100px;
    overflow: hidden;
}

.about-image{
    width: 35vw;
    height: 35vh;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
}

.about-image img{
    width: 100%;
    height: 100%;
}

.about-desc{
    padding: 20px;
    overflow: hidden;
    padding-top: 0;
    max-width: 70vw;
}

.contact{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 95vh;
}

.contact-us{
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 75vh;
    background-color: white;
    border-radius: 100px 0px 100px 0px;
    overflow: hidden;
    padding: 40px;
}

.contact-us label{
    max-width: 15vw;
    margin-top: 10px;
    font-weight: bold;
}

.contact-us input{
    width: 68vw;
    border-radius: 5px;
    border: 2px solid gray;
    height: 6vh;
    margin-top: 10px;
}

.contact-us textarea{
    width: 68vw;
    height: 20vh;
    border: 2px solid gray;
    resize: none;
    margin-top: 10px;
    border-radius: 5px;
}

.contact-us button{
    margin-top: 10px;
    width: 68vw;
    height: 6vh;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.footer{
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}


.line{
    width: 100%;
    height: 2vh;
    background-color: black;
}

.rights{
    margin-top: 0;
    background-color: white;
    border-radius: 100px 100px 0px 0px;
}

@media only screen and (max-width:374px){
    .navbar{
        justify-content: normal;
        align-items: normal;
    }

    .navbar a:not(:nth-child(1)){
        display: none;
    }

    .navbar a:nth-child(6){
        display: block;
    }

    .logo :nth-child(1){
        font-size: 20px;
    }
    
    .logo :nth-child(2){
        font-size: 8.5px;
    }

    .judul{
        font-size: 10px;
        margin-bottom: 0;
    }

    .place{
        height: 255vh;
    }
    
    .places{
        width: 90vw;
        height: 75vh;
    }

    .place-img{
        height: 75vh;
    }
    
    .place-desc h3{
        max-width: 50vw;
    }

    .about{
        height: 100vh;
    }
    
    .about-us{
        width: 75vw;
        height: 80vh;
    }
    
    .about-image{
        width: 40vw;
    }    

    .contact{
        height: 90vh;
    }
    
    .contact-us{
        height: 67vh;
    }
    
    .contact-us label{
        max-width: 55vw;
    }
    
    .contact-us input{
        width: 55vw;
    }
    
    .contact-us textarea{
        width: 55vw;
    }
    
    .contact-us button{
        width: 55vw;
    }

    .navbar.responsive{
        position: relative;
        display: flex;
        flex-direction: column;
    }

    nav .navbar.responsive .ham{
        position: absolute;
        text-align: center;
        top: 0;
        right: 0;
    }

    .navbar.responsive a{
        display: flex;
        text-align: left;
        position: relative;
    }
}


